<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Leeway Simulation</title>
  <style>
    td {
      padding-left: 20px;
      padding-top: 20px;
    }
    tr {
    }
    body { min-height: 100vh; }
    #map { height: 100vh; }
  </style>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}" />
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="{% static 'semantic/semantic.min.js' %}"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
</head>
<body>
  <main>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
